.bottom{
    margin-bottom: 15px;
    border: 1px solid;
    color: brown;
}
.top{
    margin-top: 15px;
    border: 1px solid;
    color: aqua;
}
.right{
    margin-right: 15px;
    border: 1px solid;
    color: yellow;
}
.left{
    margin-left: 15px;
    border: 1px solid;
    color: violet;
}