.scroll{
    display: block;
    overflow: scroll;
    border: 5px;
    margin: 15px;
    width: 400px;
    height: 80px;
    padding: 5px;
}
.auto{
    display: block;
    overflow: auto;
    border: 5px;
    margin: 15px;
    width: 400px;
    height: 80px;
    padding: 5px;
}